$white: #ffffff;
$main-white: #e2dede;
$main-purple: #563d7c;

// Nprogress
#nprogress {
  .bar {
    height: 2px !important;
    background-color: $white !important;
  }

  .spinner-icon {
    border-top-color: $white !important;
    border-left-color: $white !important;
  }

}

// navbar 
.my-navbar {
  background-color: $main-purple;
  padding: 8px;

  a,
  li {
    color: $main-white;

  }

  a:hover,
  li:hover {
    color: $white;
    border: none !important;
    cursor: pointer;
  }
}

//register/signup-form
.my-form {
  button {
    font-weight: bolder;

    &.inverted {
      background-color: white;
      color: $main-purple;
      border: 1px solid $main-purple;

      &:hover {
        background-color: $main-purple;
        color: white;
        border: none;
      }
    }

  }
}

//globals
.my-button {
  background-color: $main-purple;
  color: white;
  border: none;

  &:hover {
    background-color: white;
    color: $main-purple;
    border: 1px solid $main-purple;
  }

}

.my-button-inverted {
  background-color: white;
  color: $main-purple;
  border: 1px solid $main-purple;

  &:hover {
    background-color: $main-purple;
    color: white;
    border: none;
  }

}

.my-text {
  color: $main-purple;
  font-weight: bold;
}

.my-card {
  background-color: red;
}

.my-scroll {
  max-height: 100px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.my-scroll::-webkit-scrollbar {
  display: none;
}